.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*background-color: dodgerblue;*/
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  justify-content: center;
  /*background-color: cyan*/
}

.about > h1 {
  font-size: 3rem;
  font-weight: 700; /* Manrope Bold */
  /*margin-bottom: 1.5rem;*/
  line-height: 1;
  padding:0.5em 0 0 0;
  margin: 0;
  letter-spacing: -0.5px; /* Slightly tighter for modernity */
}
.about > h2 {
  line-height: 1;
  font-size: 2rem;
  font-weight: 700; /* Manrope Bold */
  padding:0;
  margin: 0;
  letter-spacing: -0.5px; /* Slightly tighter for modernity */
}

.about > p {
  line-height: 1.6;
  margin:0;
  padding: 0.5em 4em 3em 4em;
  text-align: justify;
}

.container > hr {
  width: 100%;
  background-color:dimgray;
  opacity: 0.4;

}

.map {
  position:relative;
  display: flex;
  justify-content: center;
  width:100%;
  /*background-color:#2d2d2d;*/
  padding: 2.0em 0 2.0em 0;


  background: #2d2d2d;
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.here {
  fill:red;
  animation: pulse 2.5s infinite ease-out ;
}


.cafe {
  fill:#6f4e37;
  animation: cafe 2.5s infinite ease-in-out;
  opacity: 0.8;
}

.about > a > svg {
  width:5vw;
  height:auto;
  padding:1vh 0 2vh 0;
  padding: 0.5em 4em 3em 4em;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  45% {
    transform: scale(1.1)
  }

  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}


@keyframes cafe {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-5px) rotate(2deg); }
  40% { transform: translateX(5px) rotate(-4deg); }
  60% { transform: translateX(-3px) rotate(4deg); }
  80% { transform: translateX(3px) scale(1.05) ; }
}



@media only screen and (max-width: 430px) {
  .about { width: 428px; }
}
@media only screen and (max-width: 414px) {
  .about { width: 414px; }
}
@media only screen and (max-width: 412px) {
  .about { width: 412px; }
}
@media only screen and (max-width: 390px) {
  .about { width: 390px; }
}
@media only screen and (max-width: 384px) {
  .about { width: 384px; }
}
@media only screen and (max-width: 375px) {
  .about { width: 375px; }
}
@media only screen and (max-width: 360px) {
  .about { width: 360px; }
}
@media only screen and (max-width: 344px) {
  .about { width: 344px; }
}
