/* For titles */
h1, h2, h3, h4, h5, h6,
button > h1
{
  letter-spacing: -0.5px; /* Slightly tighter for modernity */
  font-family: var(--font-bebas), sans-serif;
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);*/
}

html,
body {
  font-family: var(--font-play), sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  /*min-height: 100vh; */
}

button {
  font-family: var(--font-bebas), sans-serif;
}


