.container {
  --hover-color:white;
  --hover-bg-color:#2d2d2d;
  --transparent: transparent;
  --scale: 1.3;
  --sidemargin:3.5vh;


  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  /*column-gap: 3vh;*/
  border-top: 2px solid var(--hover-bg-color);
  /*transform: scale(var(--scale));*/
}

.container > a > button {
  background-color: var(--transparent);
  font-weight: 700;
  cursor: pointer;

  /*border-radius: 2px 0 2px 12px;*/
  padding-right: var(--sidemargin);
  padding-left: var(--sidemargin);
  border: 2.7px solid transparent;
  background-color: var(--hover-color);

  font-size: 1.1em;
}

.container > a:hover > button {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
  border: 2.7px solid var(--hover-bg-color);
  z-index: 13;

}








@media only screen and (max-width: 550px) {
  .container {

    justify-content: center !important;
    
  }
}
