
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play:wght@400;700&display=swap');
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
body {
  font-family: "Play", sans-serif;
  font-weight: 400;
}
button {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: italic;
}
span {
  font-family: "Play", sans-serif;
  font-weight: 400;
}



/*body {*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/**/
/*  font-family: 'Oswald', sans-serif;*/
/*  font-weight: 400;*/
/*}*/


/*.post-content{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
/*.hero-image {*/
/*  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.png");*/
/*  height: 50%;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  position: relative;*/
/*}*/
/**/
/*.hero-text {*/
/*  text-align: center;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  color: white;*/
/*}*/
/**/
/*.hero-text button {*/
/*  border: none;*/
/*  outline: 0;*/
/*  display: inline-block;*/
/*  padding: 10px 25px;*/
/*  color: black;*/
/*  background-color: #ddd;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*}*/
/**/
/*.hero-text button:hover {*/
/*  background-color: #555;*/
/*  color: white;*/
/*}*/
